:root {
  --fatty: 'Abril Fatface',
    cursive;
  --roboto: 'Roboto',
    sans-serif;
}

.fatty {
  font-family: var(--fatty);
}

.roboto {
  font-family: var(--roboto);
}

body {
  margin: 0;
  overflow: hidden;
  font-family: var(--roboto);
}

.app {
  background-color: #FFEC83;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.button {
  background-color: #000;
  color: #fff;
  border: none;
}

.button--log-it {
  border-radius: 30px;
  font-size: 36px;
  padding: 10px 20px;
  margin-top: 15px;
}

.log-minutes,
.set-goal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.minutes-label {
  font-family: var(--fatty);
  font-size: 66px;
  text-align: center;
}

.minutes-input {
  font-family: var(--fatty);
  width: 70%;
  font-size: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  border-radius: 10px;
  border: none;
  padding-top: 18px;
}

.progress-bar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  width: 70%;
  height: 7px;
  background-color: white;
  border-radius: 3.5px;
}

.percentage {
  background-color: black;
  height: 100%;
  transition: width 2s;
  border-radius: 3.5px;
}

.progress-label {
  font-family: var(--fatty);
  font-size: 50px;
  margin-top: 15px;
}

.goal-label {
  font-family: var(--fatty);
  font-size: 40px;
}

.goal-input {
  background-color: inherit;
  border: none;
  border-bottom: solid #000 2px;
  text-align: center;
  width: 40%;
  font-size: 30px;
  font-style: var(--roboto);
}