:root {
  --fatty: 'Abril Fatface',
    cursive;
  --roboto: 'Roboto',
    sans-serif;
}

.fatty {
  font-family: var(--fatty);
}

.roboto {
  font-family: var(--roboto);
}

body {
  margin: 0;
  overflow: hidden;
  font-family: var(--roboto);
}

.app {
  background-color: #FFEC83;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.log-minutes,
.set-goal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.minutes-label {
  font-family: var(--fatty);
  font-size: 66px;
  text-align: center;
}

.minutes-input {
  font-family: var(--fatty);
  width: 70%;
  font-size: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  border-radius: 10px;
  border: none;
}

.progress-bar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  width: 75%;
  height: 20px;
  background-color: white;
}

.percentage {
  background-color: black;
  height: 100%;
  transition: width 2s;
}